@import "./../Variables";

.Panel_AddProducts {
}
// creating element
.Panel_Add_createColorCircle {
  width: 50px;
  height: 50px;
}
// react-color library
.sketch-picker {
  width: 100%;
  min-width: 200px;
  height: 100%;
}
//
.Panel_AddProduct_Picture {
  input {
    max-width: 85%;
  }
}
