@import "./../../Variables";
.ProductsBetweenBanners {
  grid-template-columns: repeat(2, 1fr);
  gap: 0 15px;
  img {
    grid-column: 1fr;
    object-fit: contain;
    border-radius: $border8;
    box-shadow: 0 1px 5px -1px $black;
  }
}
@media only screen and (max-width: 768px) {
  .ProductsBetweenBanners {
    grid-template-columns: repeat(1, 1fr);
  }
}
