$primary: #3a86ee;
$iconBg: #eeeeee;
$border: #ededed;
$darkBorder: #f0f0f1;
$white: #ffffff;
$black: #000000;
$textP: #575656;
$textRed: #f44538;
$textMiniTitle: #a4a4a4;
$halfBlack: rgba(0, 0, 0, 0.5);
$transition02: all 0.2s;
$border10: 10px;
$border8: 8px;
