@import "./Variables";
@import "./Mixin";
.Home_Card {
  @include ProductCard(10px, none, none, $white, block, block);
  // like btn
  .Home_Card_Like_Btn {
    width: 40px;
    height: 40px;
    left: -15px;
    top: 5px;
    opacity: 0;
    z-index: 9;
    box-shadow: 0 2px 8px -2px black;
    transition: left 0.3s, opacity 0.3s, color 0.1s;
    svg {
      transform: scale(1);
      transition: all 0.2s;
    }
    &:hover {
      svg {
        transform: scale(1.2);
      }
    }
  }
  // image of box
  .card-img-top {
    min-height: 10rem;
    max-height: 10rem;
    border-radius: 8px;

    img {
      transform: scale(1);
      object-fit: fill;
      transition: $transition02;
      border-radius: 8px;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
  // crad body
  .Home_Card_Body {
    .Home_Card_Stars {
      font-size: 13px;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      transition: all 0.4s;
      svg {
        color: gold;
      }
    }
    .card-title {
      font-size: 15px;
      line-height: 1.5;
      transition: margin 0.4s, color 0.2s;
      &:hover {
        color: $primary !important;
      }
    }
  }
  // card footer
  .card-footer {
    background-color: transparent !important;
    transition: height 0.5s;
    .Home_Card_Footer_Price {
      font-size: 14px;
      @include CardHoverAnimation(translateX(0), visible, 1);
      transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
    }
    .productOff {
      border-radius: 6px;
      font-size: 14px;
      @include CardHoverAnimation(translateX(0), visible, 1);
      transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
    }
    #HomeCardFooterShape {
      top: 50%;
      left: -15px;
      transform: translateY(-50%);
      width: 8px;
      height: 60%;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      transition: $transition02;
    }
  }
  // when hover on box this section showing
  .Home_Card_PriceBox_Hover {
    height: 0;
    transition: height 0.5s;
    .Home_Card_Footer_Price {
      font-size: 14px;
      @include CardHoverAnimation(translateX(-20px), hidden, 0);
      transition: transform 0.3s, opacity 1s;
    }
    .productOff {
      border-radius: 6px;
      font-size: 14px;
      @include CardHoverAnimation(translateX(20px), hidden, 0);
      transition: transform 0.3s, opacity 1s;
    }
  }
  // visit button
  .Home_Card_Footer_Btn {
    display: none !important;
    height: 0;
    opacity: 1;
    animation-name: Btn;
    animation-duration: 1s;
    transition: all 0.5s;
  }
}
// hover
.Home_Card {
  &:hover {
    .Home_Card_Like_Btn {
      left: 5px;
      opacity: 1;
    }
    .Home_Card_Body {
      .Home_Card_Stars {
        visibility: hidden;
        opacity: 0;
        top: -10px;
      }
      .card-title {
        margin-top: 10px !important;
      }
    }
    // when hover , this section hide
    .card-footer {
      border: none;
      padding: 0 !important;
      margin: 0 !important;
      height: 0 !important;
      .productOff {
        @include CardHoverAnimation(translateX(20px), hidden, 0);
        transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
      }
      .Home_Card_Footer_Price {
        @include CardHoverAnimation(translateX(-20px), hidden, 0);
        transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
      }
      #HomeCardFooterShape {
        opacity: 0;
      }
    }
    // when hover , this section show
    .Home_Card_PriceBox_Hover {
      height: auto;
      margin: 5px 0 !important;
      padding: 0 5px !important;
      .productOff {
        @include CardHoverAnimation(translateX(0), visible, 1);
        transition: transform 0.3s, opacity 1s;
      }
      .Home_Card_Footer_Price {
        @include CardHoverAnimation(translateX(0), visible, 1);
        transition: transform 0.3s, opacity 1s;
      }
    }
    .Home_Card_Footer_Btn {
      display: block !important;
      height: auto !important;
    }
  }
}
@keyframes Btn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1024px) {
  .card-img-top {
    height: 9rem;
  }
}
